div{
    background-color: purple;
    color: white;
    padding: 30px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

button{
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    margin-right: 50px;
}