.todo-header{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"]{
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.div-id{
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: 10px;
}

.div-name{
    display: inline-block;
    width: 200px;
    text-align: left;
}
.div-delete{
    display: inline-block;
    margin-left: 10px;
}
.div-delete-button{
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gap{
    margin-top: 20px;
}