.btn{
    background-color: rgb(27, 27, 215);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    color: brown;
}

div{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}