div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: skyblue;
    padding: 10px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}