:host {
  display: block;
  min-height: 100vh;     /* full screen */
  background: rgb(251, 255, 5);
  padding-top: 40px;
}

/* Input styling */
input,
select {
  height: 50px;
  background-color: white;
  border: 2px solid red;
  border-radius: 14px;
  width: 400px;
  margin: 20px auto;   /* centers */
  display: block;
  padding: 0 12px;
  font-size: 16px;
}

button {
  margin: 20px auto;
  display: block;
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
}
